
* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #46529d;
  color: #fff;
}

.text-center {
  text-align: center
}

.container {
  width: 60%;
  margin: 10% auto;
}

.ListItems {
  background: #fff;
  color: #46529d;
}

.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}

.ListItems span {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc;
}

.ListItems span.title {
  background: #2ebaee;
  color: #fff;
}

.ListItems span.name, form input[type=text]{
  width: 60%;
}

.ListItems span.age, form input[type=number]{
  width: 30%;
}

.ListItems span.action, form input[type=submit]{
  width: 10%;
}

.ListItems span.icon {
  color: #f00;
  cursor: pointer;
}

form input {
  padding: 10px;
  background: #ebebeb;
  border: transparent;
  border: 0.3px solid #ccc;
}

form input[type=submit] {
  background: #2ebaee;
  border: 0.3px solid #2ebaee;
  color: #fff;
  cursor: pointer;
}

